body{
   margin: 0px;
   padding: 0px;}
.topo{
	display: flex;
	flex-wrap: wrap;
	width: 1700px;
	}
#imagem img{
    margin-left: 20px;}

.input-group-mb-3{
	height: 50px;
	line-height: 130px;
	margin-left: 120px;
	margin-right: 100px;

	}
.form-control{
	border-color:#FFD1CD;
	border-width: 2px;
	border-style: solid;
    width: 1100px;
    height: 30px;
    transition: all 0.5s;
    }
.form-control:hover{
     background: #FFD1CD;}

.mais-icones{
    line-height: 130px;
    }
 .mais-icones a{
    margin-left: 50px;
    margin-right: 10px;}
#menu-topo{
	display: block;
	list-style-type: none;
	padding: 0px;
}


#menu-topo li{
	display: inline-block;
	padding: 0px;
}


#menu-topo li a{
	border-radius: 20px;
	color: #696969;
	display: block;
	font-family: sans-serif;
	height: 40px;
	line-height: 40px;
	margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	transition: all 0.5s;
	width: 120px;
}
#menu-topo li a#pagina-inicial:hover{
		background: #FFD1CD;
		color: #696969;
}
#menu-topo li a#vestuario:hover{
		background: #9DB6C2;
		color: #FFFFFF;
}
#menu-topo li a#ecobags:hover{
		background: #F26D4C;
		color: #FFFFFF;
}

#menu-topo li a#decoração:hover{
		background: #FFAE95;
		color: #FFFFFF;
}
#menu-topo li a#papelaria:hover{
		background: #006876;
		color: #FFFFFF;
}

hr {
width: 100%;
height: 2px;
margin-right: auto;
margin-left: auto;
margin-top: 2px;
margin-bottom: 0px;
border-width: 0px;

}

.imagem{
	height: 100px;
	margin-left: 40px;
	margin-right: 20px;
	width: 1800px;
	background: url('banner.png');}

.icone{
    height: 70px;
    margin-left: 20px;
    margin-top: 10px;}

.texto-icone{
   display: flex;
   flex-wrap: wrap;



}
.texto-icone1{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 150px;
    margin-left: 150px;}
.texto-icone1 p{
	color: #F26D4C;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    width: 200px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 50px;
	padding: 0px;}

.texto-icone2{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 150px;
    margin-left: 150px;}
.texto-icone2 p{
	color: #FFAE95;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    width: 200px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding: 0px;}

.texto-icone3{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 150px;
    margin-left: 150px;
    margin-top: 10px;}
.texto-icone3 p{
	color: #006876;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    width: 200px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding: 0px;}
#camiseta{
    border-radius: 185px;
    width: 311px;
    height: 539px;}
.destaques img{
    margin-left: 130px;
    margin-right: 150px;}


    


h2{
 text-align: center;
 margin-top: 200px;
text-transform: uppercase;
font-weight: lighter;}
.galeria{
	display: flex;
	flex-wrap: wrap;
	}
.produtos-ecobags{
	width: 200px;
	height: 340px;
	text-align: center;
	flex: 200px;
	flex-grow: 0;
	margin: 80px;
	

}
.produtos-camisetas{
	width: 200px;
	height: 340px;
	text-align: center;
	flex: 200px;
	flex-grow: 0;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 5px;

}
.img-produtos img{
	text-align: center;
	height:280px;
	width: 200px;
	margin: 0px;}

.detalhes-produto a{
	text-decoration: none;
	color: black;

}
.preço-produto {
	text-decoration: none;}
.preço-produto a{
	color: #006876 ;
	font-weight: bold;
    margin: 0;}
.nome{
	text-decoration: none;
    margin: 0px;}

footer{
    background: #FFD1CD;
    height: 350px;
    display: flex;
    flex-wrap: wrap;}

.final-bloco1{
    display: block;
    margin-left: 40px;}
#redes-sociais{
    display: block;}
#redes-sociais a{
    text-decoration: none;
    color: #696969;
    }
#redes-sociais img{
    width: 35px;
    margin-top: 10px;}

.final-bloco2{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 20px;}
#departamentos p{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;}
#departamentos li{
    list-style-type: none;}

#departamentos li a{
    text-decoration: none;
    color: #696969;
    }
#departamentos{
    margin-left: 80px;
    }
.final-bloco3{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 20px;}
#pagamento p{
    font-weight: bold;}
#duvidas{
    margin-left: 80px;
    margin-top: 20px;
    width: 60px;}
#duvidas p{
    color: #696969;}